* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

#logo a h1 {
    transition: all ease-in-out 0.5s;
}

#logo a h1:hover {
    color: aqua;
}

nav {
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#nav-links {
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
}

#nav-links li a {
    text-decoration: none;
    color: #cbd5f5;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
}


#nav-links li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #ffffff;
    left: 0;
    bottom: -6px;
    transition: width 0.4s ease;
}

#nav-links li a:hover {
    color: #fff;
}

#nav-links li a:hover::after {
    width: 100%;
}


#nav-button a button {
    padding: 7px 14px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    font-weight: 600;
    transition: all ease-in-out 0.5s;
}

#nav-button a button:hover {
    background-color: white;
    color: black;

}

/* hero */

#hero-main {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#left h1 {
    font-size: 50px;
}

#left button {
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px 10px;
    border: none;
    transition: all ease-in-out 0.5s;
}

#left button:hover{
    background-color: black;
    color: white;
}


#right img {
    width: 330px;
    border-radius: 30px;
}


/* <!-- marquee --> */


marquee{
    margin-top: 40px;
    font-size: 50px;
}

marquee img{
    width: 340px;
}